/* make images or canvas pixelated */

.pixelated {
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

/* effects you can apply to screens */

.screen-parallax {
  animation: 20s screen-parallax infinite ease;
}

@keyframes screen-parallax {
    0% {
      background-position: 0px 0%;
    }
    50% {
      background-position: 0px 80px;
    }
    100% {
      background-position: 0px 0px;
    }
}

.screen-fade-out {
  display: flex;
  opacity: 1;
  animation: screen-fade-out 3s forwards;
}

@keyframes screen-fade-out {
  from { opacity: 1; z-index: 1000; }
  50% { opacity: 1; z-index: 1000; }
  to { opacity: 0; z-index: -1; }
}

/* sprite animation effects */

.sprite-float-up {
  animation: sprite-float-up 2s linear forwards;
}

@keyframes sprite-float-up {
  from {
    transform: scale(1) translate(0px, 0px);
    opacity: 1;
  }
  to {
    transform: scale(3) translate(0px, -64px);
    opacity: 0;
  }
}

.sprite-grow-fade {
  animation: sprite-grow-fade 2s linear;
}

@keyframes sprite-grow-fade {
  from {
    transform:  translate(0px, 0px) scale(8);
    opacity: 0.5;
  }
  to {
    transform: translate(0px, 0px) scale(16);
    opacity: 0;
  }
}

/* fade things */

.fade-in {
  animation: fade-in 0.8s;
  display: flex;
}

@keyframes fade-in {
  from{opacity:0} to{opacity:1}
}

.fade-out {
  display: flex;
  opacity: 1;
  animation: fade-out 3s forwards;
}

@keyframes fade-out {
  from { opacity:1; display: flex; }
  50% { opacity:1; display: flex; }
  to { opacity:0; display: none; }
}
